name: Frontend workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test JS frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Run tests and collect coverage
        run: npm run test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
        files: ./coverage1.xml,./coverage2.xml # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
